* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: #f7f8f9;
  padding: 4vw;
  gap: 2vw;
  h1 {
    font-family: "Rubik", sans-serif;
    color: #1d2226;
    font-size: 28px;
  }
  p {
    font-family: "Rubik", sans-serif;
    color: #1d2226;
    opacity: 60%;
    font-size: 18px;
  }
  .create-btn {
    font-family: "Rubik", sans-serif;
    font:medium;
    background-color: #6c25ff;
    color: #fff;
    outline: none;
    border: 0;
    padding: 2vw;
    border-radius: 6px;
    height: 46px;
    font-size: 16px;
    font-weight: 500;
  }
  .login-btn {
    font-family: "Rubik", sans-serif;
    font: medium;
    background-color: #6c25ff4b;
    color: #1d2226;
    outline: none;
    border: 0;
    padding: 2vw;
    border-radius: 6px;
    height: 46px;
    font-size: 16px;
    font-weight: 500;
  }
}
