.login-container {
    background-color: #f7f8f9;
    height: 100vh;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2vw; 
  }

.login-container h1 {
    font-size: 28px;
    margin: 1vw 0;
    color: #1d2226;
    font-weight: 500;
}

.login-container p {
    font-size: 15px;
    margin: 1vw 0;
    color: #1d2226;
   
}

.input-details {
    display: flex;
    flex-direction: column;
    padding: 0 4vw 4vw 4vw;
}

.login-btn {
    font-family: "Rubik", sans-serif; 
    background-color: #6c25ff;
    color: #ffffff;
    outline: none;
    border: 0;
    padding: 1.5vw 2vw;
    border-radius: 6px;
    height: 46px;
    font-size: 16px;
    font-weight: 500;
}